Source: libwidgetlords
Maintainer: Kelsey Maes <kelsey@vpprocess.com>
Section: libs

Package: libwidgetlords
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Libraries and stuff for PI-SPI
 Libraries and stuff for PI-SPI and PI-SPI-DIN
